.grad1 {
    height: auto;
    width: 100%;
    background-color: rgb(17, 0, 48);
    font-family: Montserrat;
    font-weight: bold
}

img {
    float: left;
}

.img1 {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 25px;
    align-content: center;
    text-align: center;
    box-shadow: 5px 5px rgb(114, 113, 113, 0.2);
}

.button {
    background-color: rgb(13, 5, 134);
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: left;
    align-content: left;
    font-size: 10px;
    cursor: pointer;
    border-radius: 10px;
    background-image: linear-gradient(rgb(1, 82, 255), rgb(253, 253, 253, 0.3), rgb(0, 36, 112));
    box-shadow: 2px 2px rgb(46, 39, 39);
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 1px;
}

.box {
    text-align: center;
    visibility: hidden;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: rgb(112, 113, 116, 0.3);
}
.center{
    text-align: left;
    align-items: center;
}


.text {
    white-space: pre-line;
    color: rgb(253, 254, 255);
    font-size:smaller;
    text-align: left;
    margin-right: 5px;
    margin-top: 1px;
    text-align: left;
    text-align: justify;
}

.textdiv {
    white-space: pre-line;
    color: rgb(2, 23, 46);
    width: 100%;
    height: 400px;
    /* background-color: rgba(247, 247, 247, 0.5); */
    text-align: left;
    margin-top: 2px;
    margin-right: 5px;
    /* align-content: center; */
}

.Order {
    white-space: pre-line;
    border: none;
    color: white;
    padding: 20px;
    /* text-align: center; */
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    font-size: 15px;
    border-radius: 10px;
    background-image: linear-gradient(rgb(243, 227, 6), rgb(253, 253, 253, 0.3), rgb(96, 117, 2));
    box-shadow: 2px 2px rgb(46, 39, 39);
}