@font-face {
  font-family: Delicious;
  src: url('/fonts/franklin-gothic-medium_[allfont.net].ttf')
}

@font-face {
  font-family: Montserrat;
  src: url('/fonts/Montserrat-Medium.ttf')
}

@font-face {
  font-family: Montserrat;
  font-weight: normal;
  src: url('/fonts/Montserrat-Regular.ttf')
}

@font-face {
  font-family: Montserrat;
  font-weight: bold;
  src: url('/fonts/Montserrat-Black.ttf')
}

@font-face {
  font-family: Montserrat;
  font-weight: bolder;
  src: url('/fonts/Montserrat-Bold.ttf')
}

body {
  height: auto;
  width: auto;
  background-color: rgb(1, 100, 95);
  font-family: Montserrat;
  font-weight: normal;
  color: white;
}
h1,h2,h3,h4,h5,h6 { font-family: Montserrat;
  font-weight: bold}
.w3-bar-block .w3-bar-item {padding:20px}

img {
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
}

img:active {
  -webkit-transform: scale(2);
  transform: scale(2);
}